.heading {
  position: absolute;
   top: 40%;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  text-align: center; /* Center text */
  color: white;
  z-index: 1;
}
  .second-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
  }
  .content {
    margin-bottom: 100px;
    margin-top: -80px;
    background-color: #fff;
    border-top: 15px solid #ffbb05;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  }
  .second-slide .left-image {
    padding-right: 0px!important;
  }
  .second-slide .right-about-text {
    text-align: left;
    margin-left: 15px;
    margin-right: 30px;
  }
  .first-content .primary-button {
    margin-top: 30px;
  }
  .primary-button a {
    display: inline-block;
    background-color: #ffbb05;
    color: #343434;
    font-size: 13px;
    padding: 12px 18px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.2s linear;
  }
  .primary-button a:hover {
    background-color: transparent;
    border: 1px solid #ffbb05;
    -webkit-transition: all 0.2s linear; /* Added standard transition */
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
  .second-slide.left-about-text{text-align: left;
  margin-left: 15px;
  margin-left: 30px;
}

.second-slide .left-about-text h4 {
  font-size: 19px;
  color: #121212;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 25px;
}
.cd-half-width{
  position: relative;
 z-index: 1;

}