
    <div class="heading">
      <h1>Our projects</h1>
      <span class="span"> HERE YOU CAN CHECK OUR RECENT PROJECTS</span> 
    </div>
    <div class="cd-half-width fourth-slide">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content fourth-content">
              <div class="row">
                <div class="col-md-3 project-item">
                  <a href="img/item-01.jpg" data-lightbox="image-1"><img src="img/project-item-01.jpg" alt="pic1"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-02.jpg" data-lightbox="image-1"><img src="img/project-item-02.jpg" alt="pic2"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-03.jpg" data-lightbox="image-1"><img src="img/project-item-03.jpg" alt="pic3"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-04.jpg" data-lightbox="image-1"><img src="img/project-item-04.jpg" alt="pic4"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-05.jpg" data-lightbox="image-1"><img src="img/project-item-05.jpg" alt="pic5"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-06.jpg" data-lightbox="image-1"><img src="img/project-item-06.jpg" alt="pic"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-07.jpg" data-lightbox="image-1"><img src="img/project-item-07.jpg" alt="pic7"></a>
                </div>
                <div class="col-md-3 project-item">
                  <a href="img/item-08.jpg" data-lightbox="image-1"><img src="img/project-item-08.jpg" alt="pic8"></a>
                </div>
              </div>
            </div>
          </div>
        </div>                  
      </div>
    </div>
