h1{
  font-family: "Acme", serif;
  font-weight: bold;
  
}
.heading {
  position: absolute;
   top: 40%;
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  text-align: center; /* Center text */
  color: white;
  z-index: 1;
}
.span{color: #ffbb05;}
  .fourth-slide {
    text-align: center;
    background-color: #fff;
    width: 100%;
  }
  .content {padding-top: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    margin-bottom: 100px;
    margin-top: -100px;
    background-color: #fff;
    border-top: 15px solid #ffbb05;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.fourth-content {
    padding: 15px 30px;
  }
  .fourth-content .project-item {
    margin: 15px 0px;
  }
  .cd-half-width{
     position: relative;
    z-index: 1;
   
  }
  .primary-button a {
    display: inline-block;
    background-color: #ffbb05;
    color: #343434;
    font-size: 13px;
    padding: 12px 18px;
    border-radius: 3px;
    text-decoration: none;
    border: 1px solid transparent;
  }
  .primary-button a:hover {
    background-color: transparent;
    border: 1px solid #ff7105;
    -webkit-transition: all 0.2s linear; /* Added standard transition */
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}